# Node
NODE_ENV="development"
PORT=3000

# Postgres
DATABASE_URL="postgresql://user:password@localhost:5432/trading_db?schema=public"

# InfluxDB
INFLUX_URL="http://localhost:8086"
INFLUX_TOKEN="token"
INFLUX_ORG="org"
INFLUX_BUCKET="bucket"

# NATS
NATS_URL="nats://localhost:4222"
NATS_SUBJECT='decision_trigger'

# Upstox
UPSTOX_ACCESS_TOKEN="token"

